.single-task{
     width: 210px;
    height: 100px;
    background-color: #fff;
    color: black;
    padding: 20px;
}

.task-name-with-delete-btn{
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: relative;
    bottom: 15px;
}

.delete-task{
    display: flex;
    align-items: center;
}


.right-arrow{
    position: relative;
    left: 165px;
    top: 16px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    padding: 3px;
}

.left-arrow{
    position: relative;
    /* left: 200px; */
    top: 16px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    padding: 3px;
}